  PORT=5000
  DM_URL=your_mongodb_connection_string
  CLIENT_URL=http://localhost:5173
  
  JWT_SECRET=your_secret_key
  JWT_EXPIRES_IN= expir date(noramlly 7 days)
  NODE_ENV=development

  EMAIL_HOST = add you select host
  EMAIL_PORT = 587
  SMTP_USER = add user
  SMTP_PASS = add your pass
  EMAIL_USER = RescuNet <add your registered email>

  # use public OSRM server
  OSRM_BASE_URL=http://router.project-osrm.org
  
  # Nominatim base
  NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
  # For Identify app (Nominatim requires proper User-Agent)
  APP_NAME=RescueNet
  CONTACT_EMAIL=your email

  USGS_BASE_URL=https://earthquake.usgs.gov 
  GDACS_Base_URL=https://www.gdacs.org/xml/rss.xml
  RELIEFWEB_BASE_URL=https://api.reliefweb.int/v1
  RELIEFWEB_APPNAME= your_reliefweb_appname

  # FIRMS requires free MAP_KEY (you can register and get one)
  FIRMS_BASE_URL=https://firms.modaps.eosdis.nasa.gov
  FIRMS_MAP_KEY=your_firms_key

  # Default Sri Lanka bbox
  LK_MIN_LAT=5.7
  LK_MAX_LAT=10.0
  LK_MIN_LNG=79.5
  LK_MAX_LNG=82.1

  # Weather provider open-meteo
  WEATHER_API_PROVIDER=open-meteo
  WEATHER_UNITS=metric
  WEATHER_API_KEY=your_Open-Meteo_key
  
  HUGGINGFACE_API_KEY=your_hf_key
  
  # SMS provider Notify.lk
  NOTIFY_USER_ID=your_user_id
  NOTIFY_API_KEY=your_sms_key
  NOTIFY_SENDER_ID=NotifyDEMO

  # Cloudinary Credentials
  CLOUDINARY_CLOUD_NAME=dszbqdw4l
  CLOUDINARY_API_KEY=your_clodinary_id
  CLOUDINARY_API_SECRET=your_secret_key